@font-face {
    font-family: 'Incheon Education Sotong';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/IncheonEducationSotong/IncheonEducationSotong.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/IncheonEducationSotong/IncheonEducationSotong.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/IncheonEducationSotong/IncheonEducationSotong.ttf') format('truetype');
}
